/* myStyle.css */

* {
    box-sizing: border-box;
}

.nav {
    background-color: none;
    color: #f8f8f8;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
    display: inline-block;
}

.nav > li {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-right: 10px;
}
.nav > li > a:hover {
    color: #ffd800;
}

.logo {
    color: black;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
}

.logo > a {
    text-decoration: none;
    color: #000000;
    float: right;
}

.banner {
    width: 300px;
    height: 40%;
    display: block;
}

    .banner > .banner-image {
        width: 500%;
        height: 40%;
        padding: 1px;
        display: block;
    }

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 90%;
    color: black;
    background-color: #f8f8f8;
    background-image: url("Images/sunny.jpg");
    background-size: auto;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: left;
    font-size: 90%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column1of3 {
    width: 300px;
    float: left;
    margin: 10px;
    padding: 1px;
    margin: auto;
}

.column2of3 {
    width: 300px;
    float: left;
    margin: 10px;
}

.column3of3 {
    width: 600px;
    float: left;
    margin: 10px;
}

.img-circle {
    border-radius: 50%;
    width: 50%;
    text-align: left;
}
.container {
    position: relative;
}

.topleft {
    position: relative;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

p {
    border: 5px solid black;
    padding: 20px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

ul {
    list-style-type: disc;
}